body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8rem;
  font-weight: 500;
  font-size: 14px;
  box-sizing: border-box;
}
.ant-layout-sider-children {
  margin: 0 ;
  padding: 0;
}
.ant-menu-submenu-title{
  border-bottom:1px solid #ddd;
}
.ant-menu-item{
  border-bottom:1px solid #ddd;
}
.ant-menu-item:hover {
  background-color: #ddd;
  animation-name: wideleft;
  animation-duration: 2s;
}

@keyframes wideleft {
  0% {
    background-color: #fff;
  }
  25% {
    background-color: #ddd;
  }
  50% {
    background-color: rgb(184, 243, 230);
  }
  75% {
    background-color: rgb(149, 253, 230);
  }
  100% {
    background-color: rgb(102, 241, 211);
  }
}
